<% i=item.depth %>

<% item.children.each do |a| %>    
    <% while i>a.depth %>
        <% i=i-1 %>
        </ul>
    <% end %>
    <% if i<a.depth %>
        <ul class="menu vertical nested submenu is-accordion-submenu" aria-hidden="true">                
        <% i=i+1 %>
    <% end %>

    <li role="menuitem" class="is-accordion-submenu-parent" aria-haspopup="true" aria-expanded="false" aria-label="Item 1" aria-controls="98lf08-acc-menu" id="z9o41u-acc-menu-link">            
        <%= link_to "#{a.nCodUni} - #{a.cDenominacion}" , organigrama_url(a)  %>         
        
    </li>
    <% if a.nCodUni==10000001 %>             
        <%= render partial: "children", object: a, as: :item %>        
        </ul>
    <% end %>
<% end %>        
