<div class="row">
  
    <%= arranged_tree_as_list(@organigrama, {:list_style => :accordion_list_group}) do |nodo| %>    
      <%= link_to "#{nodo.nCodUni} - #{nodo.cDenominacion}" %>
    <% end %>
  
</div> 

