<h1>Organigrama Municipal</h1>
<h2>organigrama.html.erb</h2>

<div class="tree">

    <ul class="vertical menu accordion-menu" data-accordion-menu data-submenu-toggle="true" role="tree" aria-multiselectable="true">                            
        <li role="treeitem" class="is-accordion-submenu-parent has-submenu-toggle">                
            <%= link_to "#{@organigrama.nCodUni} - #{@organigrama.cDenominacion}", (organigrama_url(@organigrama.parent) if @organigrama.parent) %>              
        </li>    
        <%= render partial: "children", object: @organigrama, as: :item %>
    </ul>
</div>